/*-- scss:defaults --*/

// See: <https://quarto.org/docs/output-formats/html-themes.htm>.
// See: <https://quarto.org/docs/authoring/brand.html>.

$toc-font-size: 0.9em !default;

$content-padding-top: 0.5rem;

$callout-color-note: #006909;
$callout-color-tip: #006909;
$callout-color-caution: #006909;
$callout-color-warning: #006909;
$callout-color-important: #006909;

/*-- scss:rules --*/

/* Body ----- */

body {
  color: $brand-grey;
}

/* Navigation ----- */

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  color: $brand-black !important;
}

div.sidebar-item-container a:hover {
  color: $brand-black !important;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

/* Headings ----- */

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 .header-section-number {
  color: $tertiary;
  font-weight: bold;
}

/* Blockquote ----- */

.blockquote {
  color: $tertiary;
}

/* Code ----- */

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $primary;
}

.code-tools-button {
  color: $brand-black;
}

/* Captions ----- */

.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
  color: $tertiary;
  font-size: 0.9rem;
  text-align: left;
}

.quarto-float-caption-top {
  font-size: .9rem;
  color: $black;
  margin-bottom: 2em;
}

.legend {
  font-size: .9rem;
  color: $black;
}

/* Others ----- */

.center-x {
  display: inline-block;
  text-align: center;
}

.brand-green {
  color: $primary;
}
